[user]
	name = Matt Stratton
	email = matt.stratton@gmail.com
	signingkey = C538A16C21624BAE33BC43D64DFB66BE67350C7F
[credential]
	helper = osxkeychain
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/mattstratton/.gitignore_global
[pull]
	rebase = false
