[user]
	name = Jeremy Meiss
	email = jeremy.meiss@gmail.com
	signingkey = AC51D19EFC46D62D
[credential]
	helper = osxkeychain
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/jeremymeiss/.gitignore_global
[pull]
	rebase = false
